<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note Taker - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Vue.js CDN -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Socket.IO -->
    <script src="/socket.io/socket.io.js"></script>

    <script>
        const userdata = <%- data %>;
    </script>
    
    <script src="home/recorder.js" defer></script>
    <script src="home/index.js" defer></script>
    <link rel="stylesheet" href="home/styles.css">
</head>
<body v-cloak>
    <header>
        <h3>Note Taker</h3>
        <h3 class="tokens">{{ tokens }} token<span v-if="tokens !== 1">s</span>&nbsp;left</h3>
        <h3>
            Howdy, 
            <span class="username">{{ username }}</span>
            <img src="images/pfp.svg">
            <form action="/logout" method="POST">
                <button id="logout_button" type="submit">logout?</button>
            </form>
        </h3>
    </header>
    <div class="main">
        <div class="island">
            <button v-if="!isRecording" onclick="startRecording()" :disabled="tokens == 0" :class="{'button_disabled': tokens == 0}">
                <span v-if="tokens == 0">You have no more tokens</span>
                <span v-else>Start Recording</span>
            </button>
            <button v-else onclick="stopRecording()">Stop Recording</button>

            <div class="transcript">
                <h2>Raw Transcription</h2>
                <textarea placeholder="start recording to transcribe audio" v-model="transcript"></textarea>
            </div>

            <button v-if="!isRecording" onclick="compileNotes()" :class="{'button_disabled': (tokens <= 10) || (transcript == '') || compiling}" id="compile_notes_button">
                <span v-if="tokens <= 10">not enough tokens</span>
                <span v-else-if="transcript.trim().length == 0">You must record a transcript to compile notes</span>
                <span v-else-if="compiling">Compiling...</span>
                <span v-else>Compile Notes (10 tokens)</span>
            </button>
            <button v-else disabled class="button_disabled">Stop Recording to Compile Notes</button>

            <div class="notes">
                <h2>Notes</h2>
                <textarea placeholder="Compile your raw transcription into notes" v-model="notes"></textarea>
            </div>
        </div>
    </div>

    <footer>
        <h4>&copy; 2025 Note Taker, created by <a href="https://github.com/Nawab-AS">Nawab-AS</a>. All rights reserved.</h4>
    </footer>
</body>
</html>